<h1>Doctors</h1>

<%= link_to 'New Doctor', new_doctor_path %>

<h2><%= @drs.length <= 0 ? "No Doctors" : "" %></h2> 

<ul>
  <% @drs.each do |doctor| %>
    <li>
      <%= link_to doctor.dr_name, doctor %>
    </li>
  <% end %>
</ul>