<h2>Appointments</h2>
<ul>
  <% @dr.appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.time, doctor_appointment_path(@dr, appointment) %>
      <%= link_to 'Edit', edit_doctor_appointment_path(@dr, appointment) %>
      <%= link_to 'Remove', doctor_appointment_path(@dr, appointment), method: :delete %>
    </li>
  <% end %>
</ul>