<h1>Appointment Details </h1>
<br />
<p><b>Appointment Time:</b> <%= @appointment.time %></p>
<br />
<p><b>Speciality:</b> <%= @appointment.speciality %></p>
<br />
<p><b>Doctor:</b> <%= @dr.dr_name %></p>
<br />
<p><b>Patient:</b> <%= @user.full_name %></p>
